.border {
    outline-color: white;
    outline-width: 0;
}

.nav-link {
    color: white;
}

.navbar-brand {
    margin-left: 25px;
}

.start-button {
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 40px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin-top: 15px;
    margin-bottom: 15px;
}

.submit-button {
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 10px 20px;
    text-align: center;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin-top: 15px;
    margin-bottom: 15px;
}

.timer-count {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.timer-text {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.score-count {
    margin-top: 15px;
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

.score-text {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

#question {
    font-weight: 500;
    font-size: x-large;
}

#answers {
    cursor: pointer;
}

#display-box {
    font-size: 25px;
    letter-spacing: 0.21px;
    text-align: center;
    margin-top: 20px;
}

.question-box {
    margin-bottom: 20px;
}

#final-score {
    font-size: 25px;
    letter-spacing: 0.21px;
    text-align: center;
}

#final-score-text {
    font-size: 25px;
    letter-spacing: 0.21px;
    text-align: center;
}